CarRentals.Services/Service References/CarRentalUserServiceProxy/CarRentalService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarRental.WcfServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarRental.WcfServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CarRentalUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarRentalUser" nillable="true" type="tns:CarRentalUser" />
</xs:schema>